/*#content{
	padding: 0;
}

#content header{
	padding-left: 5px;
	font-size: .8em;
}*/
article{
	margin: 0;
	padding: 0;
}
article > section {
	padding:0;
	/*margin-left: 10px;*/
	margin-bottom: 20px;
}
article > section > div{
	position: relative;
	width: 315px;
	height: 360px;
	padding:0;
}

article > section > div.left{
	float: left;
}

article section > div.right{
	float: right;
}

article section h3{
	border: none;
	color: white;
	background-color: teal;
	padding: 10px 0 10px 0;
	margin: 0;
	width: 315px;
	position: absolute;
	bottom: 5px;
	left:0;
	z-index: 1;
	font-size: 1.1em;
	text-align: center;
}

.row > div > img{
	width:315px;
	height: 360px;
	/*border:none;*/
	padding: 0;
	margin:0;
	border-radius: 10px;
}