/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
	/* pagewrap */
	#container {
		width: 95%;
	}

	/* content */
	#content{
		width: 60%;
		padding: 3% 4%;
	}

	/* sidebar */
	#sidebar {
		width: 30%;
	}

	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}

	hgroup {
		margin: 0 0 15px;
	}

	#content .left, #content .right{
		float:none;
		margin: 0 auto;
	}

	#content .left{
		margin-bottom: 10px;
	}

}

/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) {

	/* content */
	#content {
		width: 100%;
		float: none;
		margin: 20px 0;
		padding: 0;
	}

	/* sidebar */
	#sidebar {
		width: 100%;
		margin: 0;
		float: none;
	}
	
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}

	.widget ul{
		text-align: center;
	}

	#content .left{
		float:left;
		width: 48%;
		padding: 0;
		margin: 0;
	}

	#content .right{
		float:right;
		width: 48%;
		padding: 0;
		margin: 0;
	}

	#content .left img, #content .right img{
		width: 100%;
		padding: 0;
		margin: 0;
	}

	#content .row h3{
		width:100%;
	}

}

/************************************************************************************
smaller than 640
*************************************************************************************/
@media screen and (max-width: 640px) {

	nav{
		float:none;
		width:100%;
	}

	#main-nav{
		text-align:center;
	}

	/* site description */
	hgroup {
		margin: 0 0 15px;
		float: none;
		width: 100%;
	}

	/* main nav */
	#main-nav a {
		font-size: 90%;
		padding: 10px 8px;
	}

	ul{
		text-align: center;
	}

	#main-nav li{
		padding: 0 2.5em 0 0;
	}

	#content .left, #content .right{
		float:none;
		width: 100%;
	}

	#content .left{
		margin-bottom: 10px;
	}


}

